
.header {
    display: flex;
    justify-content: center;
}

.profile-info h1{
    text-align: center;
    padding: 10px;
}

.header-image {
    max-width: map-get($container-max-widths, lg);
    width:100%;
    margin-top: 10px;
    position: relative;
}

.profile-picture {
    max-width: map-get($container-max-widths, xxsm);
    width: 100%;
    border: solid $border-color;
    border-radius: $border-radius-pill;
    position: relative;
    float: right;
    margin-right: 20%;
    top: -60px;
}

.profile-text {
    max-width: map-get($container-max-widths, sm);
    width:100%;
    margin: auto;
    margin-bottom: 100px;
    padding-top: 20px;
}

.card {
    max-width: map-get($container-max-widths, md);
    width:90%;
    margin: 0 auto;
    margin-top: 10px;
}

.profiles img{
    max-width: map-get($container-max-widths, xxxsm);
    width: 100%;
    border: solid $border-color;
    border-radius: $border-radius-pill;
    margin: 10px;
}

.profiles {
    margin: 0 auto;
}

.profile-album{
    margin: 0 auto;
}

.profile-album img{
    max-width: map-get($container-max-widths, xxxsm);
    width: 100%;
    border: solid $border-color;
    margin: 10px;
}

.post-meme img{
    max-width: map-get($container-max-widths, md);
    width: 100%;
    margin: 0 auto;
    padding-bottom: 10px;
}

.icons a{
    text-decoration: none;
}